<p-tabView>
  <p-tabPanel header="Clock">
    Here must be a clock that shows the current time in hours, minutes and seconds.
  </p-tabPanel>
  <p-tabPanel header="Timer">
    Here must be a timer that allows the user to select an amount of times (in minutes and seconds) and then shows the
    remaining time in minutes and seconds until it is finished.
    <div class="timer-container">
      <div class="time-selectors">
        <div class="time-selector">
          <p-knob [min]="0" [max]="60" [size]="300" />
          <label>Minutes</label>
        </div>
        <div class="time-selector">
          <p-knob [min]="0" [max]="60" [size]="300" />
          <label>Seconds</label>
        </div>
      </div>
      <div class="actions">
        <p-button [label]="'Start'" />
        <p-button [label]="paused() ? 'Resume' : 'Pause'" (click)="paused.set(!paused())" />
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="World Time" layout="list">
    Here must be a list of cities that shows the current time in each city. A dropdown must be provided to allow the
    user to select other cities. See <a href="https://worldtimeapi.org/" target="_blank">https://worldtimeapi.org/</a>
    for options.
    <p-panel header="Time in the world">
      <p-multiSelect [options]="timezones()" placeholder="Add new location" />
    </p-panel>
  </p-tabPanel>
</p-tabView>